/* Text colors */
.text-primary {
  @apply text-gray-700 dark:text-gray-300;
}

.text-secondary {
  @apply text-gray-500 dark:text-gray-400;
}

.text-muted {
  @apply text-gray-400 dark:text-gray-500;
}

/* Text sizes */
.text-small {
  @apply text-sm md:text-base;
}

.text-medium {
  @apply text-base md:text-lg;
}

.text-large {
  @apply text-lg md:text-xl;
}

.text-xlarge {
  @apply text-xl md:text-2xl;
}

.highlighted-text {
  @apply bg-amber-200/60 dark:bg-yellow-400/25;
  box-decoration-break: clone;
  
}

.hovered-text {
  @apply hover:bg-gray-100/60 dark:hover:bg-gray-700/40;
  box-decoration-break: clone;
  
}
